@import "../../../styles/theme.scss";
@import "../../../styles/mixins.scss";

.button {
  &--primary {

    @include button;

    border: 1px solid $purple;


    &:hover {
      background-color: $purple;
      color: $white;
    }
  }


  &--white {
    @include button;

    background-color: $white;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }


  &--colored {
    @include button;
    background-color: $purple;
    border: 2px solid $purple;
    color: $white;


    &:hover {
      background-color: white;
      color: $black;
    }
  }
}
