.primaryRectangle {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-purple);
  color: var(--primary-white);

  svg {
    padding-right: 5px;
  }
}

.primaryRectangle:hover {
  background-color: var(--primary-purple);
}

.primaryRectangle:active {
  transform: scale(95%);
}

.secondaryRectangle {
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--primary-white);
}

.secondaryRectangle:hover {
  background-color: var(--primary-purple);
  color: var(--primary-white);
}

.secondaryRectangle:active {
  transform: scale(95%);
}

.inactiveTab {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  color: var(--primary-black);

  svg {
    padding-right: 5px;
  }
}

.activeTab {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid var(--primary-purple);
  color: var(--primary-black);

  svg {
    padding-right: 5px;
  }
}
