:root {
  --primary-purple: hsl(295, 100%, 16%);
  --primary-black: hsl(274, 3%, 15%);
  --primary-white: hsl(47, 23%, 88%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-monserrat);
  color: var(--primary-black);

  button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    outline: none;
  }
}
