@import "../styles/theme.scss";
@import "../styles/mixins.scss";

.test {
  width: 100%;
  height: 2.5rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.banner {
  background-image: url("../../public/AI-Banner-Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 98%;
  height: 37rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;

  .header {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
  
    .linkContainer {
      @include buttonContainer;
    }
  
    .accountContainer {
      @include buttonContainer;
      padding-left: 6rem;
    }
  }

  .textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 5rem;
    }

    .accent {
      font-family: var(--font-roboto);
      font-size: 3rem;
      font-style: italic;
    }

    p {
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

.searchContainer {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 2rem 2rem;
  position: relative;
  top: -5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 16px 0px $gray;

  .searchmodeContainer {
    @include buttonContainer;
    width: fit-content;

    .border {
      width: 2px;
      height: 2rem;
      background-color: $black;
      opacity: 50%;
    }
  }
}
