@import "../../../styles/theme.scss";

.inactiveTab {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  color: $black;

  svg {
    padding-right: 5px;
  }
}

.activeTab {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid $purple;
  color: $black;

  svg {
    padding-right: 5px;
  }
}
